
@{
    ViewBag.Title = "Thông Tin Nhóm";
}



<section style="margin:30px">
    <div class="container" style="border:double; border-width: 1px;">
        <div style="text-align:center">
            <h3><b>ĐẠI HỌC QUỐC GIA THÀNH PHỐ HỒ CHÍ MINH</b></h3>
            <h3><b>TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN</b></h3>
            <h3><b>KHOA CÔNG NGHỆ THÔNG TIN</b></h3>
        </div>


        <div style="text-align:center; margin-top:80px">
            <img src="https://truyenthongdaiphuc.files.wordpress.com/2015/09/dai_hoc_khoa_hoc_tu_nhien_dhqg-hcm.png" style="width:250px;height:auto" />
        </div>
        <div style="text-align:center; margin-top:50px">
            <h2>MÔN HỌC: PHÁT TRIỂN ỨNG DỤNG HỆ THỐNG THÔNG TIN HIỆN ĐẠI</h2>
        </div>
        <div style="text-align:center;">
            <h2><b style="font-size:larger;">ĐỒ ÁN: PHẦN MỀM QUẢN LÝ GIAO THÔNG</b></h2>
        </div>
        <div style="text-align:center;">
            <h3 >Phần: Web admin</h3>
        </div>

        <div style="text-align:center;margin-top:100px">
            <h3><b>Giảng viên:</b> Ths. Phạm Minh Tú</h3>
            <h3><b>Nhóm Thực hiện:</b> IMPOSTER</h3>
            <div style="margin-top:5px;">
                <h3>Nguyễn Phạm Anh Tú <span style="margin-left:5px">1712859</span></h3>
                <h3>Ngô Duy Lộc <span style="margin-left:5px">1712569</span></h3>
                <h3>Phạm Văn Vương <span style="margin-left:5px">1712925</span></h3>
                <h3>Huỳnh Lâm Tứ <span style="margin-left:5px">1712864</span></h3>
                <h3>Lê Phan Hoàng Linh <span style="margin-left:5px">1712558</span></h3>
                <h3>Nguyễn Văn Tâm <span style="margin-left:5px">1712748</span></h3>
                <h3>Lê Quang Quí <span style="margin-left:5px">1712710</span></h3>

            </div>

        </div>

        <img style="margin-top:200px; margin-bottom:100px" />
        <div style="text-align:center"><h3> TP. Hồ Chí Minh, ngày 15 tháng 01 năm 2021  </h3></div>

    </div>
</section>