@{
    ViewBag.Title = "Tìm Kiếm Thống Tin";
}
@model IEnumerable<WebTraCuuCamera.Models.Camera_Backup>

@using (Html.BeginForm("TimKiemThongTin", "TraCuuCamera", FormMethod.Get)) // -- phần thay đổi
{

    <div class="form-row py-2">
        <div class="col-md-5 py-1 form-group">
            <label>Tên đường</label>
            @Html.TextBox("TenDuong")
        </div>
        <div class="col-md-5 py-1 form-group">
            <label>Thời gian</label>
            @Html.TextBox("thoi_gian")
        </div>
        <div class="form-group col-md-2 py-1 ">
            <button type="submit" class="btn btn-primary" asp-action="TimKiemThongTin" asp-controller="TraCuuCamera">Search</button>
        </div>
    </div>

}


<div id="main" class="row py-2">
    @foreach (var m in Model)
    {
        <div class="col-md-4 py-1">
            <div class="card shadow h-100" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@m.TenDuong</h5>
                    <p class="card-text">@m.thoi_gian</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }


</div>






